$nav-border: rgb(22, 24, 56);
$black: black;
$dodger: dodgerblue;
$bg: #061629;
$white: white;
$light-blue: #517592;
$border: #2E5C82;
$danger: #A9792B;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: sans-serif, cursive;
    text-decoration: none;
    color: $white;
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
    // outline: 1px dashed limegreen;    
}
.App{
    min-height: 100vh;
    background: $bg;

    .Nav{
        border-bottom: 1px solid $nav-border;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 1rem;
        gap: .5rem;
        transition: height .2s ease-in-out;

        p{
            font-size: 1.5rem;
            display: flex;
            gap: .35rem;

            span{
                color: $light-blue;
                font-size: 1.5rem;
            }

            .hamburger{
                display: none;
                font-size: 1.5rem;
            }
        }

        .showLinks{display: flex !important;}
        .links{
            display: flex;
            align-items: center;
            gap: .75rem;

            button{
                outline: none;
                cursor: pointer;
                border-radius: .3rem;
                border: none;
                padding: .5rem 1rem;
                background: $border;
            }

            img{
                height: 50px;
                width: 50px;
                border-radius: 50%;
                border: 1px solid $border;
            }
        }
    }

    .ChatRoom{
        display: flex;

        .users-scrollbar{
            background: $nav-border;
            min-width: 100px;
        }
    }
}

@media only screen and (max-width: 550px) {
    .Nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p{
            width: 100%;

            .hamburger{
                margin-left: auto;
                display: block !important;
                cursor: pointer;
            }
        }

        .links{
            flex-direction: column;
            width: 100%;
            display: none !important;
        }
    }
}