$nav-border: lightgrey;
$black: black;
$dodger: dodgerblue;

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: sans-serif, cursive;
    text-decoration: none;
    color: $black;
    font-size: 1.1rem;
    // outline: 1px dashed limegreen;    
}
.App{
    min-height: 100vh;

    .Nav{
        border-bottom: 1px solid $nav-border;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 1rem;
        gap: .5rem;
        min-height: 70px;
        transition: height .2s ease-in-out;

        p{
            font-size: 1.5rem;
            display: flex;
            gap: .35rem;

            span{
                color: $dodger;
                font-size: 1.5rem;
            }

            .hamburger{
                display: none;
                font-size: 1.5rem;
            }
        }

        .links{
            display: flex;
            align-items: center;
            gap: .75rem;

            img{
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }
        }
    }

    .ChatRoom{
        display: flex;

        .users-scrollbar{
            background: $nav-border;
            min-width: 100px;
        }
    }
}

@media only screen and (max-width: 590px) {
    .Nav{
        flex-direction: column;
        padding: .7rem;
        gap: 1rem;
        transition: height .2s ease-in-out;

        p{
            width: 100%;

            .hamburger{
                margin-left: auto;
                display: block !important;
            }
        }

        .links{
            flex-direction: column;
            width: 100%;
        }
    }
}