$nav-border: rgb(22, 24, 56);
$black: black;
$dodger: dodgerblue;
$bg: #020e1d;
$white: white;
$light-blue: #517592;
$border: #2E5C82;
$danger: #A9792B;
$cyan: #69F5FF;
$red: red;
$lime: limegreen;
$green: green;
$hover-card: rgb(8, 25, 46);
$blue: blue;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: sans-serif, cursive;
    text-decoration: none;
    color: $white;
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
}
body{
    min-height: 100vh;
}
#root, .App{
    min-height: 100vh !important;
}
.App{
    background: $bg;
    display: grid;
    grid-template-rows: auto 1fr;

    // & > *{
    //     outline: 1px dashed limegreen;    
    // }

    .Nav{
        border-bottom: 1px solid $nav-border;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 1rem;
        gap: .5rem;
        transition: height .2s ease-in-out;
        p{
            font-size: 1.5rem;
            display: flex;
            gap: .35rem;

            span{
                color: $cyan;
                font-size: 1.5rem;
            }

            .hamburger{
                display: none;
                font-size: 1.5rem;
            }
        }

        .showLinks{display: flex !important;}
        .links{
            display: flex;
            align-items: center;
            gap: .75rem;

            button{
                border-radius: .3rem;
                padding: .5rem 1rem;
                background: $border;
                min-width: auto;
            }

            img{
                height: 50px;
                width: 50px;
                border-radius: 50%;
                border: 1px solid $border;
            }
        }
    }

    //GENERAL 
    @mixin btn($color){
        border: 1px solid $color;
        padding: 1rem 2rem;
        min-width: 200px;

        &:hover{
            color: $bg;
            background: $color;
        }
    }
    button{
        outline: none;
        border: none;
        padding: .5rem 1rem;
        cursor: pointer;
        background: none;
    }
    .heading{
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
    }
    .danger-btn{
        @include btn($red);
    }
    .add-btn{
        @include btn($cyan);
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); //340px
        grid-auto-rows: 500px;
        width: 100%;

        .user-card{
            border: 1px solid $nav-border;
            padding: 1.5rem;
            margin-bottom: 1rem;
            max-width: 90%;
            margin: 1rem;
            border-radius: .5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            transition: transform .1s ease-in-out, background .1s ease-in-out;
            box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.21);

            &:hover{
                transform: scale(1.02);
                background: $hover-card;
            }
    
            img{
                border-radius: 50%;
                border: 2px solid $danger;
                padding: .8rem;
                width: 100px;
                height: 100px;
            }
    
            .card-title{
                text-transform: capitalize;
                font-size: 2rem;
                text-align: center;
            }
        }
    }
    
    //PAGES
    .ChatRoom{
        display: flex;
        min-height: 90vh;

        & > *{
            flex: 1;
            outline: 1px dashed $lime;
        }

        .users-scrollbar{
            flex: 25%;
            min-width: 170px;
            padding: .5rem;

            .display-user{
                border: 1px solid $nav-border;
                display: flex;
                padding: .5rem;
                align-items: center;
                gap: .7rem;
                margin-bottom: .5rem;
                transition: transform .1s ease-in-out, background .1s ease-in-out;

                img{
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;
                }
                a{text-transform: capitalize;}

                &:hover{
                    transform: scale(1.02);
                    background: rgb(8, 25, 46);
                }
            }
        }

        .chat-container{
            flex: 75%;
            display: flex;
            flex-direction: column;
            height: 100%;

            .messages-main-container{
                overflow-y: scroll;
                flex: 1;
                display: grid;
                gap: .5rem;
                padding: .5rem;
                max-height: calc(50vh);

                .L-right{
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                }
                .L-left{
                    display: flex;
                    width: 100%;
                }

                @mixin msgBox($color){
                    background: $color;
                    padding: .5rem 1rem;
                    border-radius: .5rem;
                }
                .message-left{@include msgBox($dodger);}
                .message-right{
                    @include msgBox($lime);
                    align-self: flex-end;
                }

            }

            .controls{
                display: flex;
                padding: .5rem;
                gap: .5rem;

                input{ 
                    flex: 1;
                    border: none;
                    outline: none;
                    color: $black;
                    padding: .5rem .7rem;
                    min-width: auto;

                    &:focus{
                        outline: 3px solid $dodger;
                    }
                }
                button{
                    padding-inline: 2rem;
                    background: $danger;
                }
            }
        }
    }
    .Users, .Chat{
        display: grid;
        place-items: center;
        padding: 1rem;
    }
    .Profile{
        display: grid;
        place-items: center;

        .profile-container{
            background: $black;
            border: 1px solid $nav-border;
            padding: 2rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-inline: 1rem;

            .img{
                padding: .75rem;
                border: 1px solid $cyan;
                border-radius: 50%;

                img{
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                }
            }
            .left{
                max-width: 400px;
                display: grid;
                gap: 1rem;

                .username{
                    text-align: center;
                    font-weight: bold;
                    font-size: 2.3rem;
                    text-transform: capitalize;
                }
                .password{
                    color: $cyan;
                }
                input{
                    padding: .5rem 1.2rem;
                    color: $white;
                    outline: none;
                    border: 1px solid $cyan;
                    background: none;
                    border-radius: 5rem;
                    font-size: .9rem;
    
                    &:focus{
                        border: 1px solid $dodger;
                    }
                }
                button{
                    padding: .6rem 2rem;
                    background: $cyan;
                    color: $bg;
                    font-size: 1.2rem;
                    width: 50%;
                    font-size: .9rem;
                    margin-left: auto;
                }
            }
        }
    }
    .Register, .Login{
        display: grid;
        place-items: center;

        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid $nav-border;
            padding: 3rem 4rem;
            background: $black;
            max-width: 350px;

            & > *{
                width: 100%;
            }

            p{
                text-align: center;
                font-size: 2.3rem;
                font-weight: bold;
            }
            .img{   
                border-radius: 50%;
                width: 160px;
                height: 160px;
                border: 1px solid $cyan;
                outline: none;

                img{
                    width: 100%;
                    height: 100%;
                    border: none;
                }
            }
            input{
                padding: .7rem 1.5rem;
                color: $white;
                outline: none;
                border: 1px solid $cyan;
                background: none;
                border-radius: 5rem;
                width: 100%;

                &:focus{
                    border: 1px solid $dodger;
                }
            }
            button{
                padding: 1rem 3rem;
                background: $cyan;
                color: $bg;
                font-size: 1.2rem;
                width: 100%;
            }
        }
    }
    .NoMatch{
        div, a{
            font-size: .85rem;
            color: $cyan;
        }
        div{
            text-align: center;
            min-width: 100%;
        }
    }
}

@media only screen and (max-width: 560px) {
    .Nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p{
            width: 100%;

            .hamburger{
                margin-left: auto;
                display: block !important;
                cursor: pointer;
            }
        }

        .links{
            flex-direction: column;
            width: 100%;
            display: none !important;
        }
    }
    .heading{
        font-size: 2rem !important;
    }
    .ChatRoom{
        flex-wrap: wrap;

        .users-scrollbar{
            overflow-x: scroll;
            flex-direction: row-reverse;
            display: flex;
            gap: .5rem;
            height: 80px;

            & > *{
                min-width: 200px;
            }
        }
    }
    .Register, .Login{
        .form{
            padding: 2rem 3rem !important; 
        }
    }
    .profile-container{
        flex-wrap: wrap;
        justify-content: center;

        .left{
            button{
                min-width: 100%;
                margin: 0 !important;
            }
        }
    }
}